!Config file for X resources
!load the config file with xrdb ~/.Xresources once you have made your changes 

!true transparency 
!background:
!first value is opacity in percent second is background color,be careful with the solarized colorscheme
!URxvt.depth: 32
!URxvt.background: [80]#002b36

!scrollbar :disabled
URxvt.scrollBar: false

!fonts for urxvt
!URxvt.font: xft:terminus:size=12:antialias=true
!Alternative, monospaced fontvery good, too
!URxvt.font: xft:mono:size=12:antialias=true
!URxvt.letterSpace: -1 for fixing space between letters
URxvt.font: xft:Iosevka Term:pixelsize=15:antialias=true

!bold disabled, not needed for solarized, but recommended if bright 'bold' text is not doable, i disabled it for now, because i had no problems
URxvt.allow_bold: true

urxvt*urgentOnBell:       true

!double buffering for xft, (good)
Urxvt.buffered: true

!borders
URxvt.borderless: false

!needed for keyboard-select and url launcher
URxvt.iso14755: false

!fixes some stuff
URxvt.intensityStyles: false

!open links in the terminal,clipboard-support
URxvt.perl-ext-common:      default,url-select,clipboard,keyboard-select
!enter selection-mode via control+s
URxvt.keysym.C-s:  perl:keyboard-select:activate
!enter url-select-mode press Control+i
URxvt.keysym.C-i:    perl:url-select:select_next
!paste via keyboard  just press shift+ctrl+v
URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.keysym.Shift-Control-C: perl:clipboard:copy
URxvt.url-select.launcher:   /usr/bin/firefox -new-tab
URxvt.url-select.underline: true
URxvt.clipboard.copycmd: xsel -ib
URxvt.clipboard.pastecmd: xsel -ob

!needed for pasting
Urxvt.iso14755: false

!loginshell is better than subshell
URxvt.loginShell: false

!how many lines should be saved
URxvt.saveLines: 65535

!cursor blink
Urxvt.cursorBlink: true

!cursor underline, when set to false it is a box
Urxvt.cursorUnderline: false

!enable scrolling in pager
!URxvt.secondaryScreen: 1
!URxvt.secondaryScroll: 0

!enable scrolling in pager
URxvt.secondaryWheel: 1

! Copyright (c) 2016-present Arctic Ice Studio <development@arcticicestudio.com>
! ! Copyright (c) 2016-present Sven Greb <code@svengreb.de>
!
! ! Project:    Nord XResources
! ! Version:    0.1.0
! ! Repository: https://github.com/arcticicestudio/nord-xresources
! ! License:    MIT
!
 #define nord0 #2E3440
 #define nord1 #3B4252
 #define nord2 #434C5E
 #define nord3 #4C566A
 #define nord4 #D8DEE9
 #define nord5 #E5E9F0
 #define nord6 #ECEFF4
 #define nord7 #8FBCBB
 #define nord8 #88C0D0
 #define nord9 #81A1C1
 #define nord10 #5E81AC
 #define nord11 #BF616A
 #define nord12 #D08770
 #define nord13 #EBCB8B
 #define nord14 #A3BE8C
 #define nord15 #B48EAD
!
 *.foreground:   nord4
 *.background:   nord0
 *.cursorColor:  nord4
 *fading: 35
 *fadeColor: nord3
!
 *.color0: nord1
 *.color1: nord11
 *.color2: nord14
 *.color3: nord13
 *.color4: nord9
 *.color5: nord15
 *.color6: nord8
 *.color7: nord5
 *.color8: nord3
 *.color9: nord11
 *.color10: nord14
 *.color11: nord13
 *.color12: nord9
 *.color13: nord15
 *.color14: nord7
 *.color15: nord6

!! drop in Solarized colorscheme for Xresources/Xdefaults
!Light configuration, for dark conf just reverse the base colors

!!SOLARIZED HEX     16/8 TERMCOL  XTERM/HEX   L*A*B      RGB         HSB
!!--------- ------- ---- -------  ----------- ---------- ----------- -----------
!!base03    #002b36  8/4 brblack  234 #1c1c1c 15 -12 -12   0  43  54 193 100  21
!!base02    #073642  0/4 black    235 #262626 20 -12 -12   7  54  66 192  90  26
!!base01    #586e75 10/7 brgreen  240 #585858 45 -07 -07  88 110 117 194  25  46
!!base00    #657b83 11/7 bryellow 241 #626262 50 -07 -07 101 123 131 195  23  51
!!base0     #839496 12/6 brblue   244 #808080 60 -06 -03 131 148 150 186  13  59
!!base1     #93a1a1 14/4 brcyan   245 #8a8a8a 65 -05 -02 147 161 161 180   9  63
!!base2     #eee8d5  7/7 white    254 #e4e4e4 92 -00  10 238 232 213  44  11  93
!!base3     #fdf6e3 15/7 brwhite  230 #ffffd7 97  00  10 253 246 227  44  10  99
!!yellow    #b58900  3/3 yellow   136 #af8700 60  10  65 181 137   0  45 100  71
!!orange    #cb4b16  9/3 brred    166 #d75f00 50  50  55 203  75  22  18  89  80
!!red       #dc322f  1/1 red      160 #d70000 50  65  45 220  50  47   1  79  86
!!magenta   #d33682  5/5 magenta  125 #af005f 50  65 -05 211  54 130 331  74  83
!!violet    #6c71c4 13/5 brmagenta 61 #5f5faf 50  15 -45 108 113 196 237  45  77
!!blue      #268bd2  4/4 blue      33 #0087ff 55 -10 -45  38 139 210 205  82  82
!!cyan      #2aa198  6/6 cyan      37 #00afaf 60 -35 -05  42 161 152 175  74  63
!!green     #859900  2/2 green     64 #5f8700 60 -20  65 133 153   0  68 100  60

!#define S_base03        #002b36
!#define S_base02        #073642
!#define S_base01        #586e75
!#define S_base00        #657b83
!#define S_base0         #839496
!#define S_base1         #93a1a1
!#define S_base2         #eee8d5
!#define S_base3         #fdf6e3
!#define S_yellow        #b58900
!#define S_orange        #cb4b16
!#define S_red           #dc322f
!#define S_magenta       #d33682
!#define S_violet        #6c71c4
!#define S_blue          #268bd2
!#define S_cyan          #2aa198
!#define S_green         #859900

!*background:            S_base03
!*foreground:            S_base00
!*fading:                40
!*fadeColor:             S_base03
!*cursorColor:           S_base1
!*pointerColorBackground:S_base01
!*pointerColorForeground:S_base1

!! black dark/light
!*color0:                S_base02
!*color8:                S_base03

!! red dark/light
!*color1:                S_red
!*color9:                S_orange

!! green dark/light
!*color2:                S_green
!*color10:               S_base01

!! yellow dark/light
!*color3:                S_yellow
!*color11:               S_base00

!! blue dark/light
!*color4:                S_blue
!*color12:               S_base0

!! magenta dark/light
!*color5:                S_magenta
!*color13:               S_violet

!! cyan dark/light
!*color6:                S_cyan
!*color14:               S_base1

!! white dark/light
!*color7:                S_base2
!*color15:               S_base3

!Comments for url and select-mode
!Url-Mode:
! Alt+u 	Enter selection mode. The last URL on your screen will be selected. You can repeat Alt+u to select the next upward URL.
! k 	Select next upward URL
! j 	Select next downward URL
! Return 	Open selected URL in browser and quit selection mode
! o 	Open selected URL in browser without quitting selection mode
! y 	Copy (yank) selected URL and quit selection mode
! Esc 	Cancel URL selection mode 
! Selec-Mode:
! h/j/k/l:    Move cursor left/down/up/right (also with arrow keys)
! g/G/0/^/$/H/M/L/f/F/;/,/w/W/b/B/e/E: More vi-like cursor movement keys
! '/'/?:      Start forward/backward search
! n/N:        Repeat last search, N: in reverse direction
! Ctrl-f/b:   Scroll down/up one screen
! Ctrl-d/u:   Scroll down/up half a screen
! v/V/Ctrl-v: Toggle normal/linewise/blockwise selection
! y/Return:   Copy selection to primary buffer, Return: quit afterwards
! Y:          Copy selected lines to primary buffer or cursor line and quit
! q/Escape:   Quit keyboard selection mode
